html {
  background-color:#8effe2
  justify-content: center;
}
p{
border: 2px solid black;
color: Black;
font-size: 60px;
font-type: Courier New
}

h1 {
  color:Black
  font-size: 60px;
  font-type: Courier New
}
h2 {
  color:Black
  font-size: 60px
  font-type: Courier New
}
