html {
background: #0F2737;
background: -moz-linear-gradient(left, #0F2737 0%, #74DAE7 100%);
background: -webkit-linear-gradient(left, #0F2737 0%, #74DAE7 100%);
background: linear-gradient(to right, #0F2737 0%, #74DAE7 100%);
  padding: 30px;
}

p{
border: 10px solid black;
justify-content: center;
font-size: 60px;
font-color:white;
font-type:courier;

}

h1 {
  font-size: 60px;
  font-type:Courier;
}

h2 {
  font-size: 60px;
  font-type:courier;
}
