html {
  border: 30px solid black;
  padding: 60px;
  
}
body{
  font-style: courier;
}

name{
 border: 20px double black;
 font-size: 60px;
}

p{
  align:center
  font-size:30px
}
p2head{
  font-size:45px
}

p2{
  
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 45px;
}
